[submodule "themes/cocoa-eh"]
	path = themes/cocoa-eh
	url = https://github.com/mtn/cocoa-eh-hugo-theme.git
[submodule "themes/hugo-geo"]
	path = themes/hugo-geo
	url = https://github.com/alexurquhart/hugo-geo.git
